* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dotted magenta; */
}

:root {
  --overlay-transparent: rgba(151, 126, 126, 0.7);
  --html-bg: #977e7e;
  --bg-secondary: #f8ecec;
  --black: #161f27;
  --white: #fff;
  --red: #e4012a;
  --blue: #00f;
  --green: #0f0;
  --pink: #ffa0a0;
  --grey: #aaa;
  font-size: 16px;
}

/***********************************************************/
/******************** General Styles ***********************/
/***********************************************************/

.black {
  color: var(--black);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.deg90 {
  transform: rotate(90deg);
}

.deg180 {
  transform: rotate(180deg);
}

.deg270 {
  transform: rotate(270deg);
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.m-auto {
  margin: 0 auto;
}

.p-relative {
  position: relative;
}

.padding {
  padding: 1rem;
}

.padding-half {
  padding: 0.5rem;
}

.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.o-hidden {
  overflow: hidden;
}

.disabled {
  opacity: 0.7;
}

h1,
h2 {
  margin: 1rem 0;
  font-weight: bold;
}

h1 {
  font-size: 1.5rem;
  line-height: 100%;
}

h2 {
  font-size: 1.1rem;
  line-height: 110%;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}

p,
span {
  margin: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 120%;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 110%;
}

.small,
.smaller {
  font-size: 0.6rem;
  line-height: 120%;
}

.smaller {
  font-size: 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  stroke: var(--red);
  height: 1.5rem;
}

/***********************************************************/
/************************* Inputs **************************/
/***********************************************************/

.btn,
.btn-small,
#preview-time {
  margin: 1rem auto;
  cursor: pointer;
  display: block;
  width: 75%;
  height: 2.5rem;
  border: 1.5px solid var(--black);
  border-radius: 0.6rem;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.07rem;
  text-transform: uppercase;
}

.btn-small {
  width: auto;
  height: 2rem;
  border-radius: 0.3rem;
}

.btn:hover {
  border-color: var(--red);
  color: var(--red);
}

.btn:focus {
  border-color: var(--red);
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    border-color: var(--red);
  }
  50% {
    border-color: var(--black);
  }
  100% {
    border-color: var(--red);
  }
}

.btn:active {
  border: none;
  background-color: var(--red);
  color: var(--white);
}

input {
  display: block;
  margin: 0.25rem auto 1rem;
  padding: 0.5rem;
  width: 100%;
  height: 2rem;
  outline: none;
  border-radius: 0.6rem;
  border-bottom: 0.5px solid var(--black);
}

input:focus {
  border-width: 1.5px;
  animation: pulse 1s infinite;
}

input:active {
  border-width: 1px;
}

input:invalid,
.invalid {
  border-bottom: 1.5px solid var(--red);
  background-image: url('img/svg/Invalid.svg');
  background-size: auto 1.5rem;
  background-position: right;
}

/***********************************************************/
/********************* HTML Sections ***********************/
/***********************************************************/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  color: var(--black);
  background-color: var(--html-bg);
}

#root {
  margin: 0 auto;
  width: 100%;
  min-height: 100%;
  max-width: 750px;
  background-color: var(--white);
}

/* wraps all jsx */
#main {
  padding: 1rem;
  width: 100%;
}

#pages {
  position: relative;
  padding-bottom: 80px;
  top: 96px;
  height: 100%; /* ?????????????????????????????? */
  min-height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--overlay-transparent);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 0;
  width: 90%;
  transform: translate(0, -50%);
  background-color: var(--white);
  padding: 1rem;
  z-index: 101;
}

/***********************************************************/
/************************* Header **************************/
/***********************************************************/

.header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* ?????????????????????????????? */
  padding: 1rem;
  width: 100%;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
}

/***********************************************************/
/************************ Welcome **************************/
/***********************************************************/

#welcome {
  width: 100%;
}

/***********************************************************/
/********************** Search Form ************************/
/***********************************************************/

#search-form {
  width: 100%;
}

#search-form form {
  padding: 1.5rem;
}

#choose::before {
  background-image: url('img/svg/Document.svg');
  background-size: auto 1.5rem;
}

#zip::before {
  background-image: url('img/svg/Location.svg');
  background-size: auto 1.5rem;
}

/* div for test items */
#search-form .items {
  margin-top: 0.5rem;
}

/* div for each test */
#search-form .type {
  cursor: pointer;
  border-radius: 0.6rem;
}

#search-form .selected {
  background-color: var(--bg-secondary);
}

#search-form .more p {
  color: var(--red);
}

#search-form li {
  margin: 1rem 0;
  list-style: none;
}

/***********************************************************/
/********************* Search Results **********************/
/***********************************************************/

#search-results {
  width: 100%;
}

/* also in SelectionJSX */
.date-picker,
.date-picker-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  height: 2rem;
  border-radius: 0.3rem;
  background-color: var(--bg-secondary);
  line-height: 150%;
  text-align: center;
}

.sort {
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#location-preview {
  width: 100%;
  /* height: 180px; */
  margin: 1rem 0;
}

#location-preview img {
  width: 25%;
}

#preview-info {
  width: 75%;
  padding: 0.5rem;
  background-color: var(--bg-secondary);
}

#preview-info hr {
  width: 8%;
}

#preview-tests ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#preview-tests li span {
  position: relative;
  left: -0.5rem;
}

/***********************************************************/
/*********************** Selection *************************/
/***********************************************************/

.selection-div {
  padding: 1rem;
}

.selection-info {
  width: 100%;
}

.appointment-item {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.appointment-time {
  display: flex;
  justify-content: space-between;
}

.appointment-item ul {
  display: flex;
  justify-content: space-evenly;
}

.appointment-item li {
  text-transform: uppercase;
}

.time-selected,
.test-selected {
  padding: 0.25rem;
  border-radius: 10px;
  background-color: var(--bg-tertiary);
  border: 1px solid purple;
}

/***********************************************************/
/********************** Login Form *************************/
/***********************************************************/

.form-modal {
  margin: 1rem 0;
  padding: 1rem;
}

.login-form-div p,
.login-form-div h1 {
  text-align: center;
}

/***********************************************************/
/********************* Appointments ************************/
/***********************************************************/

.appointment-preview {
  text-align: center;
}

.appointment-item-div {
  margin: 2rem 0;
  width: 100%;
}

.appointment-item-div .icon {
  margin: 0 auto;
}

.appointments-tabs {
  margin-bottom: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.appointments-tab,
.appointments-tab-selected {
  width: 30%;
  font-family: Mulish;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.appointments-tab-selected {
  border-top: 3px solid;
  border-top-color: var(--highlight-red);
}

.appointment-tests-span {
  text-transform: capitalize;
}

/***********************************************************/
/************************ Account***************************/
/***********************************************************/

.account-header {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar > img {
  margin: 1rem;
  width: 75px;
  height: 75px;
  background-color: var(--btn-enabled);
  border-radius: 50%;
}

.account-item {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: var(--btn-enabled);
}

.account-item-text {
  overflow: hidden;
}

.account-item-top {
  padding: 0.5rem;
  width: 100%;
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: 2fr 1fr 1fr;
}

/***********************************************************/
/************************ Navbar ***************************/
/***********************************************************/

.info-footer {
  position: fixed;
  bottom: 80px;
}

.footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  width: 100%;
  height: 80px;
  background-color: var(--bg-primary);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/***********************************************************/
/********************* Toggle Switches *********************/
/***********************************************************/

ol {
  list-style: none;
}

[type='checkbox'] {
  position: absolute;
  left: -9999px;
}

.switches {
  max-width: 500px;
  width: 95%;
  margin: 50px auto 0;
  border-radius: 5px;
  color: var(--white);
  background: var(--blue);
}

.switches li {
  position: relative;
}

.switches li:not(:last-child) {
  border-bottom: 1px solid var(--grey);
}

.switches li::before {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: bold;
  color: var(--pink);
}

.switches label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

.switches span:last-child {
  position: relative;
  width: 50px;
  height: 26px;
  border-radius: 15px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.4);
  background: var(--grey);
  transition: all 0.3s;
}

.switches span:last-child::before,
.switches span:last-child::after {
  content: '';
  position: absolute;
}

.switches span:last-child::before {
  left: 1px;
  top: 1px;
  width: 24px;
  height: 24px;
  background: var(--white);
  border-radius: 50%;
  z-index: 1;
  transition: transform 0.3s;
}

.switches span:last-child::after {
  top: 50%;
  right: 8px;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/uncheck-switcher.svg);
  background-size: 12px 12px;
}

.switches [type='checkbox']:checked + label span:last-child {
  background: var(--green);
}

.switches [type='checkbox']:checked + label span:last-child::before {
  transform: translateX(24px);
}

.switches [type='checkbox']:checked + label span:last-child::after {
  width: 14px;
  height: 14px;
  left: 8px;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/checkmark-switcher.svg);
  background-size: 14px 14px;
}

@media screen and (max-width: 600px) {
  .switches li::before {
    display: none;
  }
}

/***********************************************************/
/*********************** Skeletons *************************/
/***********************************************************/

.skeleton-relative {
  position: relative;
  overflow: hidden;
}

.skeleton-icon {
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.skeleton-div,
.skeleton-div-column,
.skeleton-div-row {
  position: relative;
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-primary);
}

.skeleton-div-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeleton-div-row,
.skeleton-div-account-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skeleton-div-account-item {
  margin: 2rem;
}

.skeleton-spacer {
  width: 100%;
  height: 2rem;
}

.skeleton-wide,
.skeleton-btn {
  margin: 0.5rem 0;
  position: relative;
  width: 100%;
  height: 1.5rem;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-secondary);
}

.skeleton-btn {
  width: 80%;
}

.skeleton-left,
.skeleton-right,
.skeleton-mid {
  width: 25%;
  height: 1rem;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.skeleton-img,
.skeleton-img-sml,
.skeleton-img-med,
.skeleton-img-lrg {
  margin: 0 0.5rem;
  width: 75px;
  height: 50px;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.skeleton-img-sml {
  width: 6.25rem;
  height: 4rem;
}

.skeleton-img-med {
  margin: 0.5rem 0;
  width: 12rem;
  height: 8rem;
}

.skeleton-img-lrg {
  width: 15rem;
  height: 12rem;
}

.skeleton-h {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  height: 1.5rem;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.skeleton-h1text {
  height: auto;
}

.skeleton-p {
  margin: 0.5rem 0;
  padding: 0.5rem;
  width: 100%;
  height: 1rem;
  border: 1px solid var(--btn-enabled);
  border-radius: 10px;
  background-color: var(--bg-secondary);
}

.skeleton-ptext {
  height: auto;
}

.skeleton-hidden {
  border: none;
}

.shimmer-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 1s ease-in-out infinite;
  overflow: hidden;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(+100%);
  }
}

.shimmer {
  width: 50%;
  height: 100%;
  background-color: var(--bg-tertiary);
  opacity: 0.25;
  transform: skewX(-20deg);
}

/***********************************************************/
/********************** Alert Modal ************************/
/***********************************************************/

#alert-modal {
  position: fixed;
  top: 90px;
  width: 100%;
  z-index: 102;
  overflow: hidden;
}

.alert-init {
  position: relative;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(-100%);
  transition: 150ms ease-out;
}

.alert-success,
.alert-error {
  opacity: 0.85;
  transform: translateY(0);
}

.alert-init span {
  position: absolute;
  width: 100%;
  height: 1.6rem;
  border-bottom: 1px solid var(--white);
  animation: countdown 3s linear forwards;
}

@keyframes countdown {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

.alert-success {
  top: -0.5rem;
  background-color: var(--green);
}
.alert-error {
  background-color: var(--red);
}
